/* NAVIGATOR BAR */

.bg-light {
    font-weight: bold;
    background-color: #cee !important;
}

.navbar-nav .dropdown-menu,
.dropdown-item {
    background-color: #cee;
}

.form-inline {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}